<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Design</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body style="align-items: center; align-content:center; text-align:center">
    <a href="/v1/wall/dashboard/"><button type="button" class="btn btn-success">Home</button></a>
    <div>&nbsp;</div>
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        Number : <input type="text" name="tile_number" placeholder="Tile number"><br><br>
        <div>&nbsp;</div>
        Light : <input type="file" name="light" id="light"><br><br>
        <div>&nbsp;</div>
        High Lighter : <input type="file" name="high_lighter_1" id="high_lighter"><br><br>
        <div>&nbsp;</div>
        Dark : <input type="file" name="dark" id="dark"><br><br>
        <div>&nbsp;</div>
        <button type="submit" class="btn btn-success">Upload Design</button>
    </form>
</body>
</html>